# Flutter / Dart bağımlılıkları ve derleme klasörleri
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android'e özel derleme ve IDE dosyaları
.gradle/
local.properties
*.iml
*.apk
*.ap_
*.aab

# iOS'a özel derleme dosyaları
.generated/
DerivedData/
Pods/

# IDE (Kod Editörleri) Özel Dosyaları
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db